body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-block: 20px 10px;
  font-family: RocknRoll One, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1280px;
  padding-inline: 0rem;
  margin-inline: auto;
  position: relative;
}

.section-2 {
  color: var(--text-primary);
}

.svg {
  background-image: url("https://cdn.prod.website-files.com/698c011e3b27f3bde0b4b604/69adb1559f50f81c75ec3982_Copy%20of%20NewlogoNoMouth%20(1).png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 35px;
  padding-bottom: 48px;
  padding-right: 48px;
}

.body {
  background-color: #fff;
}

.link {
  color: #9e9a9e;
  min-width: 148px;
  margin-top: 12px;
  padding-inline: 12px;
  text-decoration: none;
  display: block;
}

.link.w--current {
  color: var(--light-pearl);
  text-decoration: none;
}

.link.footer-link {
  padding-left: 0;
}

.link.footer-link:hover {
  text-decoration: underline;
}

.section-5 {
  margin: 48px 120px;
}

.body-2 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

@media screen and (max-width: 991px) {
  body {
          --_typography---h3-heading--h3-size: 1.6rem;
          --_typography---h6-heading--h6-margin-bottom: .5em;
          --_typography---font--body-font: "Reem Kufi", sans-serif;
          --_typography---text-sm--sm-text-size: .88rem;
          --_typography---h6-heading--h6-line-height: 1.3em;
          --_typography---h6-heading--h6-weight: 500;
          --_typography---h6-heading--h6-letter-spacing: .1em;
          --_typography---base-typography--base-margin-bottom: .75em;
          --_typography---text-sm--sm-text-line-height: 1.6em;
          --_typography---text-sm--sm-text-letter-spacing: 0em;
          --_typography---button--button-font: var(--font-body);
          --_typography---base-typography--base-font-size: 1rem;
          --_sizes---gap--xs-gap: var(--space-1);
          --_sizes---gap--sm-gap: var(--space-2);
          --_sizes---container--container-width: 900px;
          --_sizes---container--container-padding-horizontal: 0px;
          --_sizes---spacing--1-25x: 1.25rem;
          --_sizes---card--card-radius: .75rem;
          --_sizes---button--button-padding-vertical: 1em;
          --_sizes---button--button-padding-horizontal: 1.5em;
          --_sizes---button--button-radius: .5rem;
          --_sizes---spacing--0-75x: .75rem;
          --_sizes---spacing--1x: 1rem;
          --_sizes---spacing--1-5x: 1.5rem;
          --_sizes---spacing--2x: 2rem;
          --_sizes---spacing--0-5x: .5rem;
          --_sizes---spacing--4x: 4rem;
          --_sizes---spacing--5x: 5rem;
          --_sizes---spacing--3x: 3rem;
          --_sizes---spacing--0-25x: .25rem;
          --_sizes---radius--md-radius: .5rem;
          --_sizes---spacing--6x: 6rem;
          --_sizes---spacing--7x: 7rem;
        }

  .section-5 {
          margin-inline: 80px;
        }
}

@media screen and (max-width: 767px) {
  body {
          --_typography---h3-heading--h3-size: 1.28rem;
          --_typography---h6-heading--h6-margin-bottom: .5em;
          --_typography---font--body-font: "Reem Kufi", sans-serif;
          --_typography---text-sm--sm-text-size: .88rem;
          --_typography---h6-heading--h6-line-height: 1.3em;
          --_typography---h6-heading--h6-weight: 500;
          --_typography---h6-heading--h6-letter-spacing: .1em;
          --_typography---base-typography--base-margin-bottom: .75em;
          --_typography---text-sm--sm-text-line-height: 1.6em;
          --_typography---text-sm--sm-text-letter-spacing: 0em;
          --_typography---button--button-font: var(--font-body);
          --_typography---base-typography--base-font-size: 1rem;
          --_sizes---gap--xs-gap: var(--space-1);
          --_sizes---gap--sm-gap: var(--space-2);
          --_sizes---container--container-width: 1280px;
          --_sizes---container--container-padding-horizontal: 0rem;
          --_sizes---spacing--1-25x: 1.25rem;
          --_sizes---card--card-radius: .75rem;
          --_sizes---button--button-padding-vertical: 1em;
          --_sizes---button--button-padding-horizontal: 1.5em;
          --_sizes---button--button-radius: .5rem;
          --_sizes---spacing--0-75x: .75rem;
          --_sizes---spacing--1x: 1rem;
          --_sizes---spacing--1-5x: 1.5rem;
          --_sizes---spacing--2x: 2rem;
          --_sizes---spacing--0-5x: .5rem;
          --_sizes---spacing--4x: 4rem;
          --_sizes---spacing--5x: 5rem;
          --_sizes---spacing--3x: 3rem;
          --_sizes---spacing--0-25x: .25rem;
          --_sizes---radius--md-radius: .5rem;
          --_sizes---spacing--6x: 6rem;
          --_sizes---spacing--7x: 7rem;
        }

  .section-5 {
          margin-inline: 80px;
        }
}

@media screen and (max-width: 479px) {
  body {
          --_typography---h3-heading--h3-size: 1.4rem;
          --_typography---h6-heading--h6-margin-bottom: .5em;
          --_typography---font--body-font: "Reem Kufi", sans-serif;
          --_typography---text-sm--sm-text-size: .88rem;
          --_typography---h6-heading--h6-line-height: 1.5em;
          --_typography---h6-heading--h6-weight: 500;
          --_typography---h6-heading--h6-letter-spacing: .1em;
          --_typography---base-typography--base-margin-bottom: .75em;
          --_typography---text-sm--sm-text-line-height: 1.6em;
          --_typography---text-sm--sm-text-letter-spacing: 0em;
          --_typography---button--button-font: var(--font-body);
          --_typography---base-typography--base-font-size: 1rem;
          --_sizes---gap--xs-gap: var(--space-1);
          --_sizes---gap--sm-gap: var(--space-2);
          --_sizes---container--container-width: 1280px;
          --_sizes---container--container-padding-horizontal: 0rem;
          --_sizes---spacing--1-25x: 1.25rem;
          --_sizes---card--card-radius: .75rem;
          --_sizes---button--button-padding-vertical: 1em;
          --_sizes---button--button-padding-horizontal: 1.5em;
          --_sizes---button--button-radius: .5rem;
          --_sizes---spacing--0-75x: .75rem;
          --_sizes---spacing--1x: 1rem;
          --_sizes---spacing--1-5x: 1.5rem;
          --_sizes---spacing--2x: 2rem;
          --_sizes---spacing--0-5x: .5rem;
          --_sizes---spacing--4x: 4rem;
          --_sizes---spacing--5x: 5rem;
          --_sizes---spacing--3x: 3rem;
          --_sizes---spacing--0-25x: .25rem;
          --_sizes---radius--md-radius: .5rem;
          --_sizes---spacing--6x: 6rem;
          --_sizes---spacing--7x: 7rem;
        }

  .container {
          overflow: hidden;
        }

  .section-5 {
          margin-inline: 24px;
        }
}
