.footer {
  padding-top: var(--_sizes---spacing--4x);
  padding-bottom: var(--_sizes---spacing--4x);
  background-color: var(--_colors---background-color--bg-primary);
  color: var(--_colors---text-color--text-primary);
}

.footer.is-secondary {
  background-color: var(--kato-dark-cobalt);
  color: var(--_colors---kato-squid-pink);
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
}

.footer_link {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  color: color-mix(in srgb, currentColor 60%, transparent);
  justify-content: flex-start;
  align-items: center;
  padding-top: .35em;
  padding-bottom: .35em;
  font-family: Reem Kufi, sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: inline-flex;
}

.footer_link:hover {
  opacity: 1;
  color: color-mix(in srgb, currentColor 100%, transparent);
  text-decoration: underline;
}

.footer .grid_6-col {
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: start;
}

.footer_bottom {
  grid-column-gap: var(--_sizes---gap--xs-gap);
  grid-row-gap: var(--_sizes---gap--xs-gap);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .footer {
          padding-top: var(--_sizes---spacing--3x);
          padding-bottom: var(--_sizes---spacing--3x);
        }

  .footer.is-secondary {
          padding-left: 80px;
          padding-right: 80px;
        }

  .footer .grid_6-col {
          grid-template-columns: 1fr 1fr 1fr;
        }

  .footer .footer-brand-block {
          grid-column: 1 / -1;
        }
}

@media screen and (max-width: 767px) {
  .footer .grid_6-col {
          grid-template-columns: 1fr 1fr;
        }

  .footer_bottom {
          text-align: center;
          flex-flow: column;
        }
}

@media screen and (max-width: 479px) {
  .footer.is-secondary {
          padding-left: 24px;
          padding-right: 24px;
        }

  .footer .grid_6-col {
          grid-template-columns: minmax(0, 1fr);
        }
}
