.footer_form_success-message {
  color: var(--_colors---core-neutral-color--neutral-inverse);
  text-align: left;
  background-color: #0000;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.1rem;
}

.footer {
  padding-top: var(--_sizes---spacing--4x);
  padding-bottom: var(--_sizes---spacing--4x);
  background-color: var(--_colors---background-color--bg-primary);
  color: var(--_colors---text-color--text-primary);
}

.footer.is-secondary {
  background-color: var(--kato-dark-cobalt);
  color: var(--_colors---kato-squid-pink);
  padding-left: 120px;
  padding-right: 120px;
  position: relative;
}

.footer.is-accent-primary {
  background-color: var(--_colors---core-accent-color--accent-primary);
  color: var(--_colors---text-color--text-on-accent-primary);
}

.footer.is-inverse {
  background-color: var(--_colors---background-color--bg-inverse);
  color: var(--_colors---text-color--text-inverse-primary);
}

.footer.is-accent-secondary {
  background-color: var(--_colors---background-color--bg-accent-secondary);
  color: var(--_colors---text-color--text-on-accent-secondary);
}

.footer.is-accent-tertiary {
  background-color: var(--_colors---background-color--bg-accent-tertiary);
  color: var(--_colors---text-color--text-on-accent-tertiary);
}

.footer_link {
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  color: color-mix(in srgb, currentColor 60%, transparent);
  justify-content: flex-start;
  align-items: center;
  padding-top: .35em;
  padding-bottom: .35em;
  font-family: Reem Kufi, sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: inline-flex;
}

.footer_link:hover {
  opacity: 1;
  color: color-mix(in srgb, currentColor 100%, transparent);
  text-decoration: underline;
}

.footer_link.on-inverse,
.footer_link.on-inverse:hover {
  color: var(--_colors---nav-link--nav-link-inverse);
}

.footer_bottom-3-col {
  margin-top: var(--_sizes---spacing--2x);
  padding-top: var(--_sizes---spacing--1x);
  grid-column-gap: var(--_sizes---gap--sm-gap);
  grid-row-gap: var(--_sizes---gap--sm-gap);
  border-top: 1px solid var(--_colors---border-color--border-secondary);
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer .grid_6-col {
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: start;
}

.footer_bottom {
  grid-column-gap: var(--_sizes---gap--xs-gap);
  grid-row-gap: var(--_sizes---gap--xs-gap);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .footer {
      padding-top: var(--_sizes---spacing--3x);
      padding-bottom: var(--_sizes---spacing--3x);
    }

  .footer.is-secondary {
      padding-left: 80px;
      padding-right: 80px;
    }

  .footer_bottom-3-col {
      grid-template-columns: 1fr;
    }

  .footer .grid_6-col {
      grid-template-columns: 1fr 1fr 1fr;
    }

  .footer .footer-brand-block {
      grid-column: 1 / -1;
    }
}


@media screen and (max-width: 767px) {
  .footer .grid_6-col {
      grid-template-columns: 1fr 1fr;
    }

  .footer_bottom {
      text-align: center;
      flex-flow: column;
    }
}


@media screen and (max-width: 479px) {
  .footer.is-secondary {
      padding-left: 24px;
      padding-right: 24px;
    }

  .footer .grid_6-col {
      grid-template-columns: minmax(0, 1fr);
    }
}

