.icon_small {
  width: var(--_sizes---spacing--1-25x);
  height: var(--_sizes---spacing--1-25x);
  color: var(--_colors---text-color--text-accent-on-primary);
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.icon_large {
  width: var(--_sizes---spacing--3x);
  height: var(--_sizes---spacing--3x);
  color: var(--_colors---text-color--text-accent-on-primary);
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon_xlarge {
  width: var(--_sizes---spacing--5x);
  height: var(--_sizes---spacing--5x);
  color: var(--_colors---text-color--text-accent-on-primary);
  flex: none;
}

.icon {
  width: var(--_sizes---spacing--2x);
  height: var(--_sizes---spacing--2x);
  color: var(--_colors---text-color--text-accent-on-primary);
  vertical-align: middle;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon.is-small {
  width: var(--_sizes---spacing--1-25x);
  height: var(--_sizes---spacing--1-25x);
}

.icon.is-xsmall {
  width: var(--_sizes---spacing--1x);
  height: var(--_sizes---spacing--1x);
}

.icon.on-inverse {
  color: var(--_colors---text-color--text-inverse-primary);
}

.icon.on-inverse.is-background {
  background-color: color-mix(in srgb, currentColor 30%, transparent);
}

.icon.on-accent-primary,
.icon.on-accent-secondary,
.icon.on-accent-tertiary {
  color: inherit;
}

.icon.is-background.on-inverse {
  color: var(--_colors---text-color--text-inverse-primary);
}

.icon.is-medium {
  width: var(--_sizes---spacing--1-5x);
  height: var(--_sizes---spacing--1-5x);
}

.icon.is-large {
  width: var(--_sizes---spacing--3x);
  height: var(--_sizes---spacing--3x);
}

.icon.is-xlarge {
  width: var(--_sizes---spacing--5x);
  height: var(--_sizes---spacing--5x);
}

.icon_xsmall {
  width: var(--_sizes---spacing--1x);
  height: var(--_sizes---spacing--1x);
  color: var(--_colors---text-color--text-accent-on-primary);
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.icon_group {
  grid-column-gap: var(--_sizes---gap--xs-gap);
  grid-row-gap: var(--_sizes---gap--xs-gap);
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.icon_group.is-align-center {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .icon {
      color: var(--kato-sakura-blossom);
      -webkit-text-stroke-color: var(--_colors---kato-squid-pink);
      display: none;
    }
}

