.ix_parallax-scale-out-hero {
  position: absolute;
  inset: 0%;
  overflow: clip;
}

.ix_parallax-scale-out-hero.radius_xlarge {
  height: 100%;
}

.ix_hero-offset-left {
  margin-left: calc(-1 * (var(--35rem) + var(--size-gap--sm)));
}

.ix_trigger-100-vh {
  width: 100%;
  height: 100vh;
}

.ix_hero-scale-3x-to-1x-content {
  z-index: 2;
  position: relative;
}

.ix_hero-scale-3x-to-1x-overlay {
  opacity: .65;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.ix_custom_hero-to-place-wrapper {
  flex: none;
  height: clamp(300px, 40vw, 450px);
}

.ix_hero-intro-down-scale-3d.is-perspective {
  z-index: 2;
  perspective: 2000px;
  position: relative;
}

.ix_hero-intro-down-scale-3d.is-step-move-y {
  z-index: 1;
  position: relative;
}

.ix_hero-intro-slide-up-variable {
  transform: translate(0px, var(--_interactions---ix--ix-hero-intro-slide-up-100vh));
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.075, .82, .165, 1);
  position: relative;
}

.ix_hero-intro-slide-up-variable.is-step-2-intro-slide-up-variable {
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.075, .82, .165, 1);
}

.ix_hero-intro-slide-up-variable.is-step-3-intro-slide-up-variable {
  transition-duration: 1.2s;
}

.ix_hero-intro-slide-up-variable.is-step-4-intro-slide-up-variable {
  transition-duration: 1.4s;
}

.ix_hero-intro-slide-up-variable.is-step-5-intro-slide-up-variable {
  transition-duration: 1.6s;
}

.ix_hero-intro-slide-up-variable.is-line-3-intro-slide-up-variable {
  transition-duration: 2.5s;
}

.ix_hero-intro-slide-up-variable.is-line-2-intro-slide-up-variable {
  transition-duration: 2s;
}

.ix_hero-intro-slide-up-variable.is-line-1-intro-slide-up-variable {
  transition-duration: 1.5s;
}

.ix_hero-intro-text-stack {
  position: relative;
}

.ix_hero-intro-clip-mask {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  position: relative;
}

.ix_hero-intro-clip-mask.is-element-3-hero-intro-clip-mask {
  clip-path: polygon(0 var(--_interactions---ix--ix-hero-intro-clipping-mask-3), 100% var(--_interactions---ix--ix-hero-intro-clipping-mask-3), 100% 100%, 0% 100%);
}

.ix_hero-intro-clip-mask.is-element-2-hero-intro-clip-mask {
  z-index: 2;
  clip-path: polygon(0 var(--_interactions---ix--ix-hero-intro-clipping-mask-2), 100% var(--_interactions---ix--ix-hero-intro-clipping-mask-2), 100% 100%, 0% 100%);
}

.ix_hero-intro-clip-mask.is-element-1-hero-intro-clip-mask {
  clip-path: polygon(0 var(--_interactions---ix--ix-hero-intro-clipping-mask-1), 100% var(--_interactions---ix--ix-hero-intro-clipping-mask-1), 100% 100%, 0% 100%);
  align-self: stretch;
}

.ix_hero-intro-slide-up-100vh {
  position: relative;
}

.ix_slider-slide-up {
  overflow: hidden;
}

.ix_hero-overlap-parallax-trigger {
  margin-top: -30vh;
}

.ix_sticky-card {
  position: sticky;
  top: 0;
}

.ix_rotate-to-cw-10 {
  perspective-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.ix_rotate-to-ccw-10 {
  perspective-origin: 0 100%;
  transform-origin: 0 100%;
}

.ix_card-slide-up {
  transition: opacity .3s cubic-bezier(.55, .055, .675, .19), transform .3s cubic-bezier(.55, .055, .675, .19);
}

.ix_target-image {
  transition: transform .3s ease-in-out;
  transform: translate(100%);
}

.ix_target-image.w--current {
  transform: translate(0%);
}

.custom_change-height-link {
  flex-flow: column;
  height: 0;
  transition: max-height .3s ease-in-out;
  display: flex;
}

.custom_change-height-link.w--current {
  color: inherit;
  text-decoration: none;
}

.ix_rotate-from-to {
  perspective-origin: 0%;
  transform-origin: 0%;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
  left: -25%;
  transform: perspective(2000px);
}

.ix_grid-5-zoom-out-image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 0;
  min-width: 100%;
  max-width: calc(100vw - 2rem);
  height: 0;
  min-height: 100%;
  max-height: calc(100vh - 2rem);
  position: absolute;
}

.ix_full-screen-background {
  width: 80vw;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  overflow: clip;
}

.ix_sticky-height-expand-1,
.ix_sticky-height-expand-2,
.ix_sticky-height-expand-3 {
  transform-origin: 0 0;
}

.ix_sticky-height-expand-right {
  transform-origin: 100% 100%;
}

.ix_rotate-to-cw-30 {
  perspective-origin: 0 100%;
  transform-origin: 0 100%;
  width: 100%;
}

.ix_card-stack-1,
.ix_card-stack-2,
.ix_card-stack-3 {
  position: relative;
}

.ix_card-stack-explode-card {
  pointer-events: auto;
  display: flex;
}

.ix_card-stack-explode-card.is-ix-1 {
  transform: translate(-20vw, -20vh);
}

.ix_card-stack-explode-card.is-ix-2 {
  transform: translate(0, -20vh);
}

.ix_card-stack-explode-card.is-ix-3 {
  transform: translate(10vw, -10vh);
}

.ix_card-stack-explode-card.is-ix-4 {
  transform: translate(-10vw, 10vh);
}

.ix_card-stack-explode-card.is-ix-5 {
  transform: translate(0, 20vh);
}

.ix_card-stack-explode-card.is-ix-6 {
  transform: translate(20vw, 10vh);
}

.ix_stick-word-highlight {
  scroll-snap-align: center;
  align-self: stretch;
  transition-property: opacity;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.ix_stick-word-highlight-image {
  width: 50%;
  transform: translateY(var(--ix--ix-follow-cursor));
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10vw;
  display: none;
  position: fixed;
  inset: 0% auto 0% 0%;
}

.ix_stick-word-highlight-wrapper {
  max-width: 60rem;
  padding-top: var(--_sizes---gap--xs-gap);
  transition: opacity .3s;
}

.ix_card-side-by-side-left {
  pointer-events: auto;
  transform-origin: 0 100%;
  transform: translate(-50%);
}

.ix_card-side-by-side-right {
  pointer-events: auto;
  transform-origin: 100% 100%;
  transform: translate(50%);
}

.ix_card-rotate-left {
  transform-origin: 0 100%;
}

.ix_card-rotate-right {
  transform-origin: 100% 100%;
}

.ix_background-overlay-back {
  border-radius: var(--_interactions---ix--ix-card-spacing);
  overflow: clip;
}

.ix_card-change-width {
  min-width: var(--_interactions---ix--ix-card-change-width);
  flex: 1;
  margin-right: 1rem;
}

.ix_card-change-width-trigger {
  overflow: clip;
}

.ix_card-change-width-background {
  border-radius: var(--_interactions---ix--ix-card-spacing);
  object-fit: cover;
  width: 10vw;
  min-width: 100%;
  max-width: none;
  height: 10vh;
  min-height: 100%;
  position: absolute;
  overflow: clip;
}

.ix_card-background {
  overflow: clip;
}

.ix_from-bottom-to-top {
  height: 100%;
}

.ix_scale-on-scroll-target-bottom {
  transform-origin: 0 0;
}

.ix_scale-on-scroll-target-top {
  transform-origin: 100% 100%;
}

.ix_timeline-horizontal {
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-auto-columns: 100%;
  grid-auto-flow: column;
  display: grid;
}

.ix_accordion-hero-image {
  width: 100%;
  margin-left: var(--_sizes---gap--lg-gap);
  border-radius: var(--_sizes---card--card-radius);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 100%;
  overflow: clip;
}

.ix_backdrop-filter-blur {
  will-change: auto !important;
  filter: none !important;
  transform-style: unset !important;
}

.ix_target-img-explode-1 {
  transform: translate(-50%, -50%);
}

.ix_target-img-explode-2 {
  transform: translate(-50%, 50%);
}

.ix_target-img-explode-3 {
  transform: translate(50%, 50%);
}

.ix_target-img-explode-4 {
  transform: translate(0, 120%);
}

.ix_target-img-explode-5 {
  transform: translate(50%, -50%);
}

.ix_card-deck-space {
  margin-right: var(--_interactions---ix--ix-card-spacing);
  transition: margin-right .3s ease-in-out;
}

.ix_background-change-1,
.ix_background-change-2,
.ix_background-change-3 {
  transition: transform .35s ease-in-out;
}

@media screen and (max-width: 991px) {
  .ix_stick-word-highlight-image {
      padding-left: 1rem;
    }

  .ix_accordion-hero-image {
      padding: var(--_sizes---spacing--1-5x);
      aspect-ratio: 3 / 2;
      margin-left: 0;
      position: relative;
      left: 0%;
    }
}


@media screen and (max-width: 767px) {
  .ix_stick-word-highlight-image {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      display: block;
      position: relative;
    }

  .ix_stick-word-highlight-wrapper {
      padding-bottom: var(--_sizes---gap--md-gap);
    }

  .ix_card-change-width {
      margin-bottom: 1rem;
      margin-right: 0;
    }

  .ix_card-change-width-background {
      border-radius: var(--_sizes---card--card-radius);
    }

  .ix_card-change-width-background.is-mobile-card {
      width: 100%;
      height: 100%;
    }
}

