.marquee {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.marquee_track {
  width: 100%;
  display: flex;
}

.marquee_track.is-right {
  justify-content: flex-end;
  align-items: center;
}

.marquee_item {
  padding-right: var(--_sizes---gap--xs-gap);
  padding-left: var(--_sizes---gap--xs-gap);
  grid-column-gap: var(--_sizes---gap--sm-gap);
  grid-row-gap: var(--_sizes---gap--sm-gap);
  flex: none;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.marquee_item.is-move-left {
  padding-right: var(--_sizes---gap--xs-gap);
  padding-left: var(--_sizes---gap--xs-gap);
}

.marquee_vertical {
  height: 15.9375rem;
  overflow: hidden;
}

.marquee_vertical.is-large {
  height: 50dvh;
}

.marquee_duplicates {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0% auto 0% 100%;
}

.marquee_duplicates.is-right {
  justify-content: flex-end;
  align-items: center;
  left: auto;
  right: 100%;
}

.marquee_move-left {
  flex: none;
  display: flex;
  position: relative;
}

.marquee_move-right {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}
