.pricing_toggle-link {
  padding-right: var(--_sizes---spacing--0-75x);
  background-color: #0000;
  align-items: center;
  padding-left: 0;
  display: flex;
  position: static;
}

.pricing_toggle-link.w--current {
  background-color: #0000;
}

.pricing_tabs-toggle {
  margin-right: var(--_sizes---spacing--0-75x);
  padding: var(--_sizes---spacing--0-25x);
  background-color: var(--_colors---core-accent-color--accent-primary);
  border-radius: 2rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.pricing_tabs-toggle-thumb {
  width: var(--_sizes---spacing--1-5x);
  height: var(--_sizes---spacing--1-5x);
  margin-right: var(--_sizes---spacing--1-5x);
  background-color: var(--_colors---core-neutral-color--neutral-primary);
  border-radius: 100%;
}

.pricing_tabs-toggle-thumb.is-transition {
  transition: transform .3s cubic-bezier(.645, .045, .355, 1);
}

.pricing_tab-button {
  padding: var(--_sizes---spacing--0-5x) var(--_sizes---spacing--1-25x);
  border-radius: var(--_sizes---spacing--0-25x);
  background-color: #0000;
}

.pricing_tab-button.w--current {
  background-color: var(--_colors---background-color--bg-secondary);
}
