.margin-top_none {
  margin-top: 0 !important;
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

.margin-top_xsmall {
  margin-top: var(--_sizes---spacing--1x);
}

.margin-bottom_xsmall {
  margin-bottom: var(--_sizes---spacing--1x);
}

@media screen and (max-width: 991px) {
  .margin-top_none {
          margin-top: 0;
        }

  .margin-bottom_none {
          margin-bottom: 0;
        }
}

@media screen and (max-width: 767px) {
  .margin-top_none {
          margin-top: 0;
        }

  .margin-bottom_none {
          margin-bottom: 0;
        }
}

@media screen and (max-width: 479px) {
  .margin-top_none {
          margin-top: 0;
        }

  .margin-bottom_none {
          margin-bottom: 0;
        }
}
