.tab_menu-button {
  padding-top: var(--_sizes---button--button-padding-vertical);
  padding-right: var(--_sizes---button--button-padding-horizontal);
  padding-bottom: var(--_sizes---button--button-padding-vertical);
  padding-left: var(--_sizes---button--button-padding-horizontal);
  border-top-left-radius: var(--_sizes---card--card-radius);
  border-top-right-radius: var(--_sizes---card--card-radius);
  border-bottom-left-radius: var(--_sizes---card--card-radius);
  border-bottom-right-radius: var(--_sizes---card--card-radius);
  color: inherit;
  background-color: #0000;
  font-size: .9375rem;
  line-height: 1.3;
}

.tab_menu-button:hover {
  background-color: var(--_colors---current-color--current-a05);
  color: inherit;
}

.tab_menu-button.w--current {
  background-color: var(--_colors---button--button-primary-bg);
  color: var(--_colors---text-color--text-on-accent-primary);
}

.tab_menu-button.on-accent-primary.w--current {
  background-color: var(--_colors---text-color--text-on-accent-primary);
  color: var(--_colors---core-accent-color--accent-primary);
}

.tab_menu-button.on-accent-primary.w--current:hover {
  background-color: var(--_colors---text-color--text-on-accent-primary);
  opacity: .8;
}

.tab_menu-button.on-accent-secondary.w--current {
  background-color: var(--_colors---text-color--text-on-accent-secondary);
  color: var(--_colors---core-accent-color--accent-secondary);
}

.tab_menu-button.on-accent-secondary.w--current:hover {
  opacity: .8;
  color: var(--_colors---core-accent-color--accent-secondary);
}

.tab_menu-button.on-accent-tertiary.w--current {
  background-color: var(--_colors---text-color--text-on-accent-tertiary);
}

.tab_menu-button.on-accent-tertiary.w--current:hover {
  opacity: .8;
}

.tab_menu-button.on-inverse:hover {
  background-color: color-mix(in srgb, currentColor 20%, transparent);
}

.tab_menu-button.on-inverse.w--current:hover {
  background-color: var(--_colors---core-accent-color--accent-primary-hover);
  opacity: .8;
}

.tab_menu-button.is-expand {
  flex: 1;
}

.tabs_content {
  overflow: visible;
}

.tab_progress-bar {
  background-color: var(--_colors---core-color-tint--neutral-inverse-a10);
  width: .3rem;
  position: absolute;
  inset: 0% auto 0% 0%;
  overflow: hidden;
}

.tab_progress-bar_line {
  background-color: var(--_colors---current-color--current-a80);
  position: absolute;
  inset: 0%;
}

.tab_menu-link_transparent-bottom {
  padding: var(--_sizes---button--button-padding-vertical) 0rem;
  box-shadow: inset 0 2px 0 0 var(--_colors---current-color--current-a60);
  color: var(--_colors---current-color--current-a50);
  background-color: #0000;
  border-radius: 0;
  font-size: .9375rem;
  line-height: 1.3;
  transition: color .35s;
}

.tab_menu-link_transparent-bottom:hover {
  color: var(--_colors---current-color--current-a80);
  background-color: #0000;
}

.tab_menu-link_transparent-bottom.w--current {
  box-shadow: inset 0 2px 0 0 var(--_colors---current-color--current);
  opacity: 100;
  color: var(--_colors---current-color--current);
  background-color: #fff0;
}

.tab_menu-link {
  padding-top: var(--_sizes---button--button-padding-vertical);
  padding-right: var(--_sizes---button--button-padding-horizontal);
  padding-bottom: var(--_sizes---button--button-padding-vertical);
  padding-left: var(--_sizes---button--button-padding-horizontal);
  color: var(--_colors---current-color--current-a60);
  box-shadow: color-mix(in srgb, currentColor 30%, transparent) 0px -2px 0px 0px inset;
  background-color: #0000;
  border-radius: 0;
  font-size: .9375rem;
  line-height: 1.3;
}

.tab_menu-link:hover {
  color: var(--_colors---current-color--current-a80);
  box-shadow: color-mix(in srgb, currentColor 50%, transparent) 0px -2px 0px 0px inset;
  background-color: #0000;
}

.tab_menu-link.w--current {
  opacity: 100;
  color: var(--_colors---current-color--current);
  box-shadow: color-mix(in srgb, currentColor 70%, transparent) 0px -2px 0px 0px inset;
  background-color: #0000;
}

.tab-link_vertical {
  padding: var(--_sizes---button--button-padding-vertical) var(--_sizes---button--button-padding-horizontal);
  color: var(--_colors---current-color--current-a50);
  background-color: #0000;
  border-radius: 0;
  font-size: .9375rem;
  line-height: 1.3;
  transition: color .3s;
}

.tab-link_vertical:hover {
  color: var(--_colors---current-color--current-a80);
  background-color: #0000;
}

.tab-link_vertical.w--current {
  opacity: 100;
  color: var(--_colors---current-color--current);
  background-color: #fff0;
}

.tabs_nav {
  margin-bottom: var(--_sizes---gap--sm-gap);
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.tabs_nav.is-align-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.tabs_nav.is-bottom {
  margin-top: var(--_sizes---gap--sm-gap);
  margin-bottom: 0;
}

.tabs_nav.is-vertical {
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
}

.tab_menu-button_plain {
  padding-top: var(--_sizes---button--button-padding-vertical);
  padding-right: var(--_sizes---button--button-padding-horizontal);
  padding-bottom: var(--_sizes---button--button-padding-vertical);
  padding-left: var(--_sizes---button--button-padding-horizontal);
  grid-column-gap: .5em;
  grid-row-gap: .5em;
  border-top-left-radius: var(--_sizes---card--card-radius);
  border-top-right-radius: var(--_sizes---card--card-radius);
  border-bottom-left-radius: var(--_sizes---card--card-radius);
  border-bottom-right-radius: var(--_sizes---card--card-radius);
  color: inherit;
  background-color: #0000;
  font-size: .9375rem;
  line-height: 1.3;
  display: flex;
}

.tab_menu-button_plain.w--current {
  background-color: #0000;
}

@media screen and (max-width: 991px) {
  .tabs_nav {
      flex-flow: wrap;
    }
}


@media screen and (max-width: 767px) {
  .tabs_nav,
    .tabs_nav.is-bottom {
      flex-flow: column;
      justify-content: flex-start;
      align-items: stretch;
    }
}

