:root {
  --_sizes---gap--xs-gap: var(--_sizes---spacing--1x);
  --_sizes---gap--sm-gap: var(--_sizes---spacing--2x);
  --_sizes---container--container-width: 1280px;
  --_sizes---container--container-padding-horizontal: 0rem;
  --_colors---background-color--bg-primary: var(--_colors---kato-light-pearl);
  --_colors---text-color--text-primary: var(--kato-dark-cobalt);
  --_colors---background-color--bg-secondary: var(--_colors---core-neutral-color--neutral-primary);
  --_colors---text-color--text-on-accent-primary: #000;
  --kato-dark-cobalt: #1b1b26;
  --_sizes---spacing--1-25x: 1.25rem;
  --_typography---h3-heading--h3-size: 2rem;
  --_typography---h6-heading--h6-margin-bottom: .5em;
  --_typography---font--body-font: "Reem Kufi", sans-serif;
  --_colors---kato-squid-pink: #e5718a;
  --_typography---text-sm--sm-text-size: .88rem;
  --_typography---h6-heading--h6-line-height: 1.3em;
  --_typography---h6-heading--h6-weight: 500;
  --_typography---h6-heading--h6-letter-spacing: .1em;
  --_typography---base-typography--base-margin-bottom: .75em;
  --_typography---text-sm--sm-text-line-height: 1.6em;
  --_typography---text-sm--sm-text-letter-spacing: 0em;
  --_sizes---card--card-radius: .75rem;
  --_sizes---button--button-padding-vertical: 1em;
  --_sizes---button--button-padding-horizontal: 1.5em;
  --_colors---button--button-primary-border: transparent;
  --_sizes---button--button-radius: .5rem;
  --_colors---core-accent-color--accent-primary: #e5718a;
  --_typography---button--button-font: var(--_typography---font--body-font);
  --_typography---base-typography--base-font-size: 1rem;
  --_colors---button--button-primary-border-hover: transparent;
  --_colors---core-accent-color--accent-primary-hover: #fe84ab;
  --_colors---button--button-primary-text: var(--_colors---text-color--text-on-accent-primary);
  --_colors---button--button-secondary-border: transparent;
  --_colors---button--button-secondary-border-hover: transparent;
  --_colors---core-color-tint--accent-primary-a10: #f983e21a;
  --_colors---core-color-tint--neutral-inverse-a70: #f8f8f8b3;
  --_sizes---spacing--0-75x: .75rem;
  --_colors---core-neutral-color--neutral-primary: #161616;
  --_sizes---spacing--1x: 1rem;
  --_sizes---spacing--1-5x: 1.5rem;
  --_sizes---spacing--2x: 2rem;
  --_sizes---spacing--0-5x: .5rem;
  --_sizes---spacing--4x: 4rem;
  --_sizes---spacing--5x: 5rem;
  --_sizes---spacing--3x: 3rem;
  --_sizes---spacing--0-25x: .25rem;
  --_sizes---radius--md-radius: .5rem;
  --_sizes---spacing--6x: 6rem;
  --_colors---kato-light-pearl: #f5efef;
  --_sizes---spacing--7x: 7rem;
}
