.tooltip_wrapper {
  align-self: flex-start;
  margin: 0;
}

.tooltip_toggle {
  padding: .25em;
}

.tooltip_content-wrapper.w--open {
  z-index: 999;
  background-color: #ddd0;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  display: flex;
  bottom: 100%;
}

.tooltip_content {
  text-wrap: pretty;
  flex-flow: row;
  flex: none;
  justify-content: center;
  align-items: flex-start;
  padding-top: .25rem;
  padding-bottom: .25rem;
  display: flex;
  position: absolute;
}

.tooltip_content.w--open {
  padding: .5rem;
  bottom: 100%;
}

.tooltip_text {
  max-width: 20ch;
  padding-top: var(--_sizes---spacing--0-5x);
  padding-right: var(--_sizes---spacing--0-5x);
  padding-bottom: var(--_sizes---spacing--0-5x);
  padding-left: var(--_sizes---spacing--0-5x);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--_colors---border-color--border-secondary);
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--_colors---border-color--border-secondary);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--_colors---border-color--border-secondary);
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: var(--_colors---border-color--border-secondary);
  border-top-left-radius: var(--_sizes---radius--sm-radius);
  border-top-right-radius: var(--_sizes---radius--sm-radius);
  border-bottom-left-radius: var(--_sizes---radius--sm-radius);
  border-bottom-right-radius: var(--_sizes---radius--sm-radius);
  background-color: var(--_colors---background-color--bg-inverse);
  color: var(--_colors---text-color--text-inverse-primary);
  font-size: var(--_typography---tag--tag-size);
  text-wrap: pretty;
  flex: none;
  line-height: 1.2em;
}

.tooltip_text.w--open {
  padding: .5rem;
  bottom: 100%;
}
