.heading_xxsmall {
  margin-top: 0;
  margin-bottom: var(--_typography---h6-heading--h6-margin-bottom);
  font-family: var(--_typography---font--body-font);
  color: var(--_colors---kato-squid-pink);
  font-size: var(--_typography---text-sm--sm-text-size);
  line-height: var(--_typography---h6-heading--h6-line-height);
  font-weight: var(--_typography---h6-heading--h6-weight);
  letter-spacing: var(--_typography---h6-heading--h6-letter-spacing);
  text-transform: uppercase;
}

.paragraph_small {
  margin-bottom: var(--_typography---base-typography--base-margin-bottom);
  font-family: var(--_typography---font--body-font);
  font-size: var(--_typography---text-sm--sm-text-size);
  line-height: var(--_typography---text-sm--sm-text-line-height);
  letter-spacing: var(--_typography---text-sm--sm-text-letter-spacing);
}

.text-color_secondary {
  color: #75739d;
}

.list {
  flex-flow: column;
  display: flex;
}

.paragraph-2 {
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  font-family: Reem Kufi, sans-serif;
  font-size: 1.13rem;
  line-height: 150%;
  display: flex;
}

@media screen and (max-width: 767px) {
  .paragraph-2 {
        max-width: 420px;
      }
}

@media screen and (max-width: 479px) {
  .paragraph-2 {
        margin-left: 24px;
        margin-right: 24px;
      }
}
